.Nav {
    
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    padding : 20px;
    justify-content: center;
}
 
.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
   
}
.App-Header {
  font-size : 20px;
}
